

*,
*::before,
*::after {
	margin:  0;
	padding:  0;
	box-sizing: border-box;
}


.app {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.app div {
	flex: 1;
	height: 80%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.app  button {
    outline: none;
}


.app__duration {
    justify-content: space-evenly;
}

.app__duration button {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 150px;

    transition: all .5s ease;
}

.app__duration button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid rgba(255, 255, 255, .2);
}


.app__main {
	position: relative;

	justify-content: center;
}

.app__main .play {
	cursor: pointer;
}

.app__main svg {
	position: absolute;
	pointer-events: none;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: 
		translate(-50%, -50%)
		rotate(-90deg);
}

.app__time-display {
	position: absolute;
	bottom: 10%;

	color: white;
	font-size: 50px;
}


.app__meditation-types {
    justify-content: space-evenly;
}

.app__meditation-types button {
    border: none;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 30px;

    cursor: pointer;
}

.app__meditation-types button:active {
    padding: 35px;
}

.app__meditation-types button img {
	height: 100%;
}

.app__meditation-types button:nth-child(1) {
	background: rgb(135, 206, 250);
}

.app__meditation-types button:nth-child(1):hover {
	background: rgba(135, 206, 250, .9);
}

.app__meditation-types button:nth-child(2) {
	background: rgb(255, 199, 42);
}

.app__meditation-types button:nth-child(2):hover {
	background: rgba(255, 199, 42, .9);
}

/* .app__btns {
	background: lightblue;
}
.app__main {
	background: lightcyan;
}
.app__medidation-types {
 	background: lightgreen;
} */

.bg-video {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: -100;
}